.main-container{
    display: flex;
    flex-direction: row;
}
.leftPanel{
    background-color: #0093cd;
    height: 100vh;
    width:55vw
}
.rightPanel{
    width: 45vw;
    display: flex;
    flex-direction: column;
}

.mainCall{
    font-size: 4vw;
    font-weight: 800;
    margin: 4vw 0 0 2vw;
}

.subcall1{
    font-size: 2vw;
    font-weight: 800;
    margin: 4vw 0 1vw 2vw;
}

.or-separator{
    display: flex;
    align-items: center;
    margin: 0.2vw 0 0.2vw 0;
}

.or1{
    height:0.5px;
    width:130px;
    margin: 1vw 1vw 1vw 2vw;
    background-color: #d8d8d8;
}
.or2{
    height:0.5px;
    width:130px;
    margin: 1vw;
    background-color: #d8d8d8;
}

.terms-and-condition{
    font-size: x-small;
    margin-left: 2vw;
    width: 300px;
}

.account-sign-in{
    margin: 5vw 0 2vw 2vw;
    font-size: 1.2vw;
    font-weight: 800;
}