.main-container{
    display: flex;
    flex-direction: row;
}
.left-panel{
    background-color: #0093cd;
    height: 100vh;
    width:55vw
}
.right-panel{
    width: 45vw;
    display: flex;
    flex-direction: column;
}
.mainCall{
    font-size: 4vw;
    font-weight: 800;
    margin: 4vw 0 0 2vw;
}
.subcall1{
    font-size: 2vw;
    font-weight: 800;
    margin: 4vw 0 1vw 2vw;
}
.account-sign-in{
    margin: 2vw 0 0 2vw;
    font-size: 1.2vw;
    font-weight: 800;
}